// Custom
.navbar-brand{
  width: 100px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.nav-item{
  margin: 0 10px;
  padding: 0 15px;
  .nav-link{
    font-weight: 700;
  }
  .dropdown-menu{
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, .13);
    .dropdown-item{
      padding: 10px 15px;
    }
  }
}

.large-buttons{
  ul{
    display: flex;
    align-content: center;
    list-style: none;
    margin: 0;
    li{
      margin: 0 5px;
      a{
        padding: 12px 18px;
        font-weight: 700;
        text-decoration: none;
      }
    }
  }
}

.home-banner{
  position: relative;
  display: flex;
  align-items: center;
  height: 630px;
  overflow: hidden;
  @media(max-width: 768px){
    height: 355px;
  }
  &:before{
    position: absolute;
    top: 0;
    left: -50%;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(254, 203, 170, .9);
    content: '';
    transform: skewX(-10deg);
  }
  #gradient-canvas {
    width:100%;
    height:100%;
    --gradient-color-1: #ffffff;
    --gradient-color-2: #c3c8cb;
    --gradient-color-3: #dfb39f;
    --gradient-color-4: #cccccc;
  }
  .banner-content{
    position: relative;
    h1{
      font-weight: 600;
    }
  }
}

.banner-videos{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.common-heading{
  h1{
    margin: 0 0 20px;
    font-weight: 600;
  }
}